body
{
    margin: 0;
}
h3
{
    margin: 0;
    padding: 0;
}
/* Table */
.table
{
    border: solid 1px #999;
}
.table td
{
    border: solid 1px #999;
    padding: .3em;
}
.table tr.header
{
    background: #e10000;
    border: solid 1px #999;
    color: white;
    padding: .5em;
    text-align: center;
}
.table th a
{
    color: white;
}
.table .odd
{
    background: #ddd;
}
.table td input.textRight
{
    text-align: right;
}
fieldset
{
    padding: 5px;
    margin-bottom: 8px;
}
.textRight
{
    text-align: right;
}
#spdtinput table td
{
    border: 0;
    padding: 0;
}
#spdtinput .ms-input
{
    width: 85px;
}
