body
{
    font-size: 12px;
    margin: 0;
}

 h3
 {
     margin:0;
     padding:0;
 }
 
/* Table */
.table
{
    border: solid 1px #999;
}
.table td
{
    border-right: solid 1px #999;
    padding: .5em;
}
.table tr.header
{
    background: #e10000;
    border-right: solid 1px #999;
    color: white;
    padding: .5em;
    text-align:center;
}
.table th a
{
    color: white;
}
.table .odd
{
    background: #ddd;
}

fieldset
{
    padding: 5px;
    margin-bottom: 8px;
}
